.card-div {
  transition: transform 0.3s ease-in-out;
}
.movie-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movie-item .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movie-item .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
